
body{
    background-color: #63768D;
	opacity: 1.0;
}



nav {
    color: white;
}

.nav {
    text-decoration: none;
}

a {
    text-decoration: none;
}


table, th, td {
    border: 1px solid black;
}
